<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Sharks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<div class="jumbotron text-center">
    <h1>Conecxion a Mongo DB</h1>
</div>
<div class="container">
    <div class="row">        
	<div class="col-lg-12">
            <p>
                <form action="/sharks/addshark" method="post">
                    <div class="caption">Ingrese un Dato</div>
                    <input type="text" placeholder="Nombre" name="name" <%=sharks[i].name; %>
                    <input type="text" placeholder="Descripcion" name="character" <%=sharks[i].character; %>
                    <button type="submit">Submit</button>
                </form>
            </p>
        </div>
    </div>
  </div>
</html>
